
@font-face {
  font-family: "DMSerifDisplay-Regular";
  font-weight: normal;
  src: url(../fonts/DMSerifDisplay-Regular.ttf);
}

@font-face {
  font-family: "Nunito";
  src: url(../fonts/Nunito-VariableFont_wght.ttf) format('ttf supports variations');
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DMSans-Bold";
  font-weight: normal;
  src: url(../fonts/DMSans-Bold.ttf);
}

@font-face {
  font-family: "DMSans-Regular";
  font-weight: normal;
  src: url(../fonts/DMSans-Regular.ttf);
}

@font-face {
  font-family: "DMSans-SemiBold";
  font-weight: normal;
  src: url(../fonts/DMSans-SemiBold.ttf);
}

body {
  font-family: 'Nunito', sans-serif;
  color: $black;
  @media print {
    color: $black;
  }
}

.DMSerifDisplay-Regular { font-family: 'DMSerifDisplay-Regular', serif !important; font-weight: 100; }
.DMSans-bold { font-family: 'DMSans-Bold', sans-serif !important; font-weight: 100; }
.Nunito { font-family: 'Nunito', sans-serif !important; font-weight: 100; }
.Nunito-bold {
  font-family: 'Nunito', sans-serif !important;
  font-weight: 900;
}
.DMSans-SemiBold { font-family: 'DMSans-SemiBold', sans-serif !important; font-weight: 100; }

strong {
  @extend .DMSans-SemiBold;
}


h1, .h1 { 
  font-size: 1.8rem;
  line-height: 2.7rem;
  font-family: "DMSerifDisplay-Regular";
  @media #{$mq--md} {
    font-size: $h1-font-size; 
    line-height: $h1-line-height; 
  } 
}
h2, .h2 { 
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-family: "DMSerifDisplay-Regular"; 
  @media #{$mq--md} {
    font-size: $h2-font-size; 
    line-height: $h2-line-height; 
  }
}
h3, .h3 { 
  font-size: 1.4rem;
  line-height: 2.1rem;
  font-family: "DMSerifDisplay-Regular"; 
  @media #{$mq--md} {
    font-size: $h3-font-size; 
    line-height: $h3-line-height; 
  }
}
h4, .h4 { 
  font-size: 1.2rem;
  line-height: 1.8rem;
  font-family: "DMSans-bold"; 
  @media #{$mq--md} {
    font-size: $h4-font-size; 
    line-height: $h4-line-height; 
  }
}
p, .p   {
  font-size: .95rem;
  line-height: 1.4rem;
  @media #{$mq--md} {
    font-size: $p-font-size;
    line-height: $p-line-height;
  }
}
.p--lg {
  font-size: 1rem;
  line-height: 1.5rem;

  @media #{$mq--md} {
    font-size: 1.5rem;
    line-height: 2.25rem;
  }
}

.line-height--1rem {
  line-height: 1rem !important;
}

.uppercase { text-transform: uppercase; }
.capitalize { text-transform: capitalize; }
.text--pre-wrap { white-space: pre-wrap; }

.text--logotype {
  @extend .DMSans-bold;
  text-transform: uppercase;
  font-style: italic;
}

.text--body {
  @extend .p;
  @extend .Nunito;
  font-style: normal;
}

.text--italic {
  font-style: italic;
}

.text--link {
  color: $blue;
  text-decoration: underline;
  &:hover, &:focus {
    color: $fuscia;
    outline: none;
  }
  &.no-underline {
    text-decoration: none;
  }
}

.text--large { font-size: 1.6rem; line-height: 2.5rem; }
.text--medium { font-size: 1rem; line-height: 1.4rem; }
.text--small { font-size: .9rem; line-height: 1.15rem; }
.text--small--print { 
  @media print {
    font-size: $small-print-font-size; 
    line-height: $small-print-line-height; 
  }
}
.text--extra-small { font-size: .8rem; line-height: 1.2rem; }

.text--bold { @extend .Nunito-bold; }
.text--semibold { @extend .DMSans-SemiBold; }
.text--light { font-weight: 300; }
.text--strikethrough { text-decoration: line-through;}

.align--center { text-align: center !important; }
.align--center--700-and-up {
  @media #{$mq--md} {
    text-align: center !important;
  }
}
.align--left { text-align: left !important; }
.align--right { text-align: right !important; }
.text--center {
    text-align: center !important;
}

.text--black { color: $black; }
.text--blue { color: $blue; }
.text--gray { color: $gray; }
.text--fuscia { color: $fuscia; }
.text--white { color: $white; }

.hover--blue {
  &:focus,
  &:hover {
    color: $blue;
  }
}

.text--secondary {
  color: $black--secondary;
}

.nhm-event-name {
  @media #{$mq-700-and-below} {
    font-size: $h2-font-size;
    line-height: $h2-line-height;
  }
}

.nhm-mega-font {
  margin: 0;
  @extend .DMSerifDisplay-Regular;
  line-height: 2.5rem;

  &.mobile-centered {
    text-align: center;

    @media #{$mq--lg} {
      text-align: left;
    }
  }

  @media #{$mq--sm} {
    font-size: $mega-font-size--mobile;
    line-height: $mega-font-size--mobile;
  }

  @media #{$mq--lg} {
    font-size: $mega-font-size;
    line-height: $mega-font-size;
  }

  &.mega-font-line-height--lg {
    @media #{$mq--lg} {
      line-height: $mega-font-line-height;
    }
  }
}

.truncate {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  &.w-100 {
    width: 100px;
  }
  &.mobile-only {
    @media #{$mq--sm} {
      overflow: visible;
    }
  }
}

.nhm-icon-wrapper {
  background: $blue--hover;
  width: 35px;
  height: 35px;
  border-radius: 35px;
  @include flex($justify: center, $align: center);
  i {
    color: $blue;
  }
}

.nhm-quote {
  font-size: 2rem;
  line-height: 3rem;
  border-left: 1px solid $black;
  padding-left: 1rem;
}