---
title: My Work
---
<section class="bg-green--light">
  <div class="nhm-wrapper">
    <div class="nhm-hero mobile-image-first py-5 mb-10">
      <div class="nhm-hero__text">
        <h1 class="nhm-mega-font">My Work</h1>
      </div>
      <img class="nhm-hero__image mw-43 mb-2--700-and-below" src="assets/images/self-portrait--my-work.png" alt="">
    </div>
  </div>
</section>

<section class="nhm-wrapper">
  <ul class="unstyled-list">
    {% assign ordered_projects = site.projects | sort:"order" %}
    {% for project in ordered_projects %}
    <li class="nhm-card--horizontal responsive-margin-bottom">
      <a href="{{ project.url }}" class="nhm-card__image-wrapper"><img src="{{ project.thumbnail_image }}" class="nhm-card__image rounded" alt="{{ project.name }}"/></a>
      <div>
        <h2 class="mt-0"><a href="{{ project.url }}" class="text--black hover--blue no-underline">{{ project.name }}</a></h2>
        <div class="d-flex justify-start align-center">
          <ul class="nhm-tag-list">
            {% for role in project.roles %}
            <li class="nhm-tag-list__item">{{ role }}</li>
            {% endfor %}
            {% for language in project.stack %}
            <li class="nhm-tag-list__item">{{ language }}</li>
            {% endfor %}
          </ul>
        </div>
        <p>{{ project.tagline }}</p>
      </div>
    </li>
    {% endfor %}
  </ul>
</section>