---
title: Resume
---
<section class="bg-yellow--light">
  <div class="nhm-wrapper">
    <div class="nhm-hero mobile-image-first py-5">
      <div class="nhm-hero__text">
        <h1 class="nhm-mega-font">Nathan<br>Haynes-Magyar</h1>
      </div>
      <img class="nhm-hero__image mb-2--700-and-below" src="assets/images/self-portrait--resume.png" alt="">
    </div>
    <ul class="unstyled-list nhm-tab-list mb-5">
      {% assign ordered_resumes = site.resumes | sort:"order" %}
      {% for resume in ordered_resumes %}
      <li class="nhm-tab-list__item">
        <button class="nhm-tab-trigger" aria-controls="{{ resume.pid }}" data-tab-trigger="{{ resume.pid }}">{{ resume.job_title }}</button>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>
<div class="nhm-wrapper mb-5">
  <ul class="unstyled-list nhm-tab">
    {% assign ordered_resumes = site.resumes | sort:"order" %}
    {% for resume in ordered_resumes %}
    <li id="{{ resume.pid }}" data-tab hidden>
      <article>
        <div class="resume-wrapper">
          <div class="resume-main">
            <h2 class="mt-0">Experience</h2>
            {% assign sections = site.resume_sections | where: "resume", resume.pid | sort:"order" %}
            {% for section in sections %}
            <div class="resume-section__header">
              <h3 class="mb-0">{{ section.name }}</h3>
              <p class="mb-0"><em>{{ section.duration }}</em></p>
            </div>
            <p class="d-flex w-100 justify-between mt-point-five"><em>{{ section.employer }}</em><em>{{ section.location }}</em></p>
            <div class="resume-section__skills-wrapper">{{ section.content }}</div>
             {% endfor %}
            <h2 class="mt-2">Education</h2>
            <ul class="unstyled-list">
              <li>
                <p><strong>Master of Science in Information: Human-Computer Interaction (4.0)</strong>
                <br>University of Michigan School of Information</p>
              </li>
              <li>
                <p><strong>Bachelor of Arts in Organizational Studies and Spanish (3.9)</strong>
                <br>University of Michigan College of Literature, Science & Arts</p>
              </li>
              <li>
                <p><strong>Bachelor of Fine Arts in Performance Acting (3.9)</strong>
                <br>University of Michigan School of Music, Theatre & Dance</p>
              </li>
            </ul>
          </div>
          <aside class="resume-aside">
            {% if resume.resume %}
            <a class="nhm-btn--blue w-100 mb-2" href="{{ resume.resume }}" download>Download PDF</a>
            {% endif %}
            <h2 class="mt-0">Skills</h2>
            <h3 class="mb-point-five">Design</h3>
            <ul class="unstyled-list">
              <li><p class="mt-0 mb-point-five">Prototyping</p></li>
              <li><p class="mt-0 mb-point-five">Wireframing</p></li>
              <li><p class="mt-0 mb-point-five">Personas</p></li>
              <li><p class="mt-0 mb-point-five">Illustration</p></li>
              <li><p class="mt-0 mb-point-five">Logo Design</p></li>
              <li><p class="mt-0 mb-point-five">Brand Development</p></li>
            </ul>
            <h3 class="mb-point-five">Development</h3> 
            <ul class="unstyled-list">
              <li><p class="mt-0 mb-point-five">Python/Django</p></li> 
              <li><p class="mt-0 mb-point-five">Ruby/Rails</p></li> 
              <li><p class="mt-0 mb-point-five">JavaScript/VueJS</p></li> 
              <li><p class="mt-0 mb-point-five">HTML</p></li> 
              <li><p class="mt-0 mb-point-five">SCSS</p></li>
            </ul>
            <h3 class="mb-point-five">Research</h3>
            <ul class="unstyled-list">
              <li><p class="mt-0 mb-point-five">Usability Testing</p></li>
              <li><p class="mt-0 mb-point-five">Protocol Development</p></li>
              <li><p class="mt-0 mb-point-five">Survey Design</p></li>
              <li><p class="mt-0 mb-point-five">Focus Groups</p></li>
              <li><p class="mt-0 mb-point-five">User Interviews</p></li>
            </ul>
            <h3 class="mb-point-five">Project Management</h3>
            <ul class="unstyled-list">
              <li><p class="mt-0 mb-point-five">Project Scoping</p></li>
              <li><p class="mt-0 mb-point-five">Stakeholder Management</p></li>
              <li><p class="mt-0 mb-point-five">Public Speaking</p></li>
            </ul>
            <h3 class="mb-point-five">Foreign Languages</h3>
            <ul class="unstyled-list">
              <li><p class="mt-0 mb-point-five">Spanish (Advanced)</p></li>
              <li><p class="mt-0 mb-point-five">French (Intermediate)</p></li>
              <li><p class="mt-0 mb-point-five">Korean (Novice)</p></li>
              <li><p class="mt-0 mb-point-five">Italian (Novice)</p></li>
            </ul>
          </aside>
        </div>
      </article>
    </li>
    {% endfor %}
  </ul>
</div>

<script src="/assets/js/tabs.js"></script>
