<header class="nhm-header fixed bg-white">
  <nav class="nhm-navbar" data-target="nav-wrapper">
    <div class="nhm-navbar--mobile-wrapper">
      <a href="/" class="nhm-navbar-brand no-underline text--black">NHM</a>
      <button 
        class="nhm-navbar-toggler large-screen-hidden" 
        aria-controls="navbarMenu" 
        aria-expanded="false"
        aria-label="Toggle navigation" 
        data-action="nav-toggle" 
        data-mobile-nav-item>
        <i class="fas fa-bars"></i>
      </button>
    </div>
    <ul 
      class="nhm-navbar-nav mobile-hidden"
      id="navbarMenu"
      data-target="main-navigation">
      {% for item in site.data.navigation %}
      {% assign url_length = item.link | size %}
      <li class="nhm-nav-item">
        <a 
          href="{{ item.link }}" 
          class="nhm-nav-link {% if url_length > 1 and page.url contains item.link %}active{% endif %}">
          {{ item.name }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </nav>
</header>