<header class="nhm-header fixed">
  <nav class="nhm-navbar" data-target="nav-wrapper">
    <a href="/" class="nhm-navbar-brand">NHM</a>
    <button 
      class="tm-navbar-toggler large-screen-hidden" 
      aria-controls="navbarMenu" 
      aria-expanded="false"
      aria-label="Toggle navigation" 
      data-action="nav-toggle" 
      data-mobile-nav-item>
      <i class="fas fa-bars"></i>
    </button>
    <ul 
      class="nhm-navbar-nav"
      id="navbarMenu"
      data-target="main-navigation">
      {% for item in site.data.navigation %}
      <li class="nhm-nav-item">
        <a 
          href="{{ item.link }}" 
          class="nhm-nav-link {% if page.url==item.link %}active{% endif %}">
          {{ item.name }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </nav>
</header>