/// Helper to create a flexbox parent
/// @param {Flex Direction} $direction [row] - flex orientation
/// @param {Flex Display} $display [flex] - flex display type
/// @param {Justification} $justify [space-between] - horizontal space distribution
/// @param {Alignment} $align [center] - vertical space alignment
/// @param {Wrap} $wrap [wrap] - wrapping behavior of flex children
@mixin flex($direction: row,
            $display: flex,
            $justify: space-between,
            $align: center,
            $wrap: wrap,
            $gap: 0rem) {
  display: $display;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
  gap: $gap;
}

@mixin background-image() {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@mixin add-new {
  @include flex($justify: center, $align: center);
  background: $gray--tag;
  border: 2px dashed $black;
  border-radius: $card-radius;
  font-weight: $font-weight-semibold;
  &:hover, &:focus { color: $fuscia; }
}
