
$blue: #4361ee;
$blue--hover: rgba(67, 97, 238, .2);
$blue--hover-2: rgba(67, 97, 238, .08);
$beige: #DBAC61;
$beige--hover-2: rgba(207, 158, 219, .2);
$green: #038179;
$green--hover-2: rgba(3, 129, 121, 0.08);
$yellow: #f6c755;
$yellow--hover-2: rgba(246, 198, 85, 0.2);
$fuscia: #F72585;
$fuscia--hover: rgba(247, 37, 133, .2);
$gray--bg: #F0F2F6;
$gray--tag: #E6EBF1;
$white: #FFFFFF;
$black: #000000;
$box-shadow: rgba(132, 146, 164, 0.604);

$card-padding: 1rem;
$card-radius: 4px;
$card-border: 1.5px solid $gray--tag;
$card-shadow: 0 1.5px 0 0 rgba(230, 235, 241, 100);
$modal-shadow:  0 2px 8px rgba(0, 0, 0, 0.33);
$mini-menu-shadow:  0 2px 4px rgba(0, 0, 0, 0.15);

$tag-padding: .4rem;
$tag-padding--small: .2rem;
$tag-radius: 2px;

$font-weight-bold: 800;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semibold: 500;

$DMSans-Regular: 'DMSans-Regular', sans-serif;
$DMSans-SemiBold: 'DMSans-SemiBold', sans-serif;
$DMSans-bold: 'DMSans-bold', sans-serif;

$z-connection-search-list: 1;
$z-competition-card: 1;
$z-tooltip-mask: 1;
$z-tooltip-index: 2;
$z-slideshow: 8;
$z-navbar-nav: 9;
$z-admin-page-header: 9;
$z-admin-nav-wrapper: 10;
$z-navbar-brand: 10;
$z-breadcrumbs: 10;
$z-menububble: 10;
$z-mini-menu: 11;
$z-navbar-toggler: 11;
$z-schedule-search-list: 11;
$z-dropdown-list: 11;
$z-header: 100;
$z-notifications: 101;
$z-skip-to-main: 101;

// Typography
$mega-font-size: 4rem;
$mega-font-size--mobile: 3rem;
$h1-font-size: 2.5rem;
$h2-font-size: 2rem;
$h3-font-size: 1.75rem;
$h4-font-size: 1.5rem;
$p-font-size: 1.2rem;
$h1-print-font-size: 36pt;
$h2-print-font-size: 30pt;
$h3-print-font-size: 25pt;
$h4-print-font-size: 20pt;
$p-print-font-size: 16pt;
$small-print-font-size: 10pt;

$mega-font-line-height: 4.5rem;
$mega-font-line-height--mobile: 4.5rem;
$h1-line-height: 3rem;
$h2-line-height: 2.5rem;
$h3-line-height: 2rem;
$h4-line-height: 1.6rem;
$p-line-height: 1.6rem;
$h1-print-line-height: 48pt;
$h2-print-line-height: 42pt;
$h3-print-line-height: 35pt;
$h4-print-line-height: 28pt;
$p-print-line-height: 24pt;
$small-print-line-height: 16pt;

$h1-font-weight: 100;
$h2-font-weight: 100;
$h3-font-weight: 100;
$h4-font-weight: 100;
$p-font-weight: 100;
