.nhm-navbar {
  width: 100%;
  position: relative;

  @media #{$mq--lg} {
    @include flex($justify: center);
    padding: 0 1.5rem;
    max-width: 1056px;
    margin: 0 auto;
  }
}

.nhm-navbar-brand {
  @extend .DMSerifDisplay-Regular;
  border: 1px solid $black;
  padding: .25rem;
  background: $white;
  z-index: $z-navbar-brand;
  font-size: 1.2rem;

  @media #{$mq--lg} {
    margin-right: 1rem;
  }

  &:focus,
  &:hover {
    color: $blue;
    border-color: $blue;
  }
}

.nhm-navbar--mobile-wrapper {
  padding: .5rem;
  @include flex($justify: space-between, $align: center, $wrap: nowrap);
  @media #{$mq--lg} {
    padding: 0;
  }
}

.nhm-navbar-toggler {
  @extend %btn;
  color: $black;
  width: 35px;
  text-align: center;
  padding: 0;
  i {
    font-size: 1.3rem;
  }

  &:focus {
    outline: none;
    border-color: $white;
  }
}

.nhm-navbar-nav {
  list-style: none;
  padding-left: 0;
  margin: 0;
  z-index: $z-navbar-nav;
  position: relative;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  top: 47px;
  left: 0;
  right: 0;
  width: 100%;
  background: $white;

  @media #{$mq--lg} {
    height: auto;
    @include flex($justify: flex-end);
    flex: 2;
    overflow: visible;
    position: static;
  }

  &.mobile-hidden {
    display: none;

    @media #{$mq--lg} {
      margin-top: 0;
      display: flex;
    }
  }

  @media print {
    display: none;
  }
}

.nhm-nav-item {
  &.has-menu {
    position: relative;
  }

  a[class^="tm-btn"] {
    margin: 0.75rem 1.5rem .5rem;

    @media #{$mq--lg} {
      margin: 0 0 0 .75rem;
    }
  }
}

.nhm-nav-link {
  @include flex($justify: space-between);
  font-family: 'DMSans-SemiBold', sans-serif;
  text-decoration: none;
  font-size: .9rem;
  width: 100%;
  padding: .75rem 1.5rem;
  background: $white;
  border: none;
  border-left: 5px solid transparent;
  color: $black;

  &:hover,
  &:focus {
    color: $blue
  }

  .fa-chevron-down {
    display: block;
    margin-left: .5rem;
  }

  &.submenu-open .fa-chevron-down {
    transform: rotate(180deg);
  }

  @media #{$mq--lg} {
    padding: 1.25rem;
  }
  &.active {
    border-left: 5px solid $black;
    @media #{$mq--lg} {
      border-left: none;
      border-bottom: 1px solid $black;
    }
  }
}

.nhm-nav-form {
  padding: .5rem 1.5rem;

  @media #{$mq--lg} {
    padding: 0;
    margin: 0 0 0 .75rem;
  }
}

.nhm-nav-button {
  @include flex($justify: flex-start);
  color: $white;
  font-family: 'DMSans-SemiBold', sans-serif !important;
  font-size: .9rem;
  padding: .75rem 1.5rem;
  border: none;
  width: 100%;
  background: $white;
  cursor: pointer;
  margin-left: 1rem;
  text-decoration: none;

  &.menu-open {
    .fa-chevron-down {
      transform: rotate(180deg);
    }
  }

  svg {
    margin-right: .5rem;
    height: 1.5rem;

    path {
      stroke: $white;
      fill: $white;
    }
  }

  &.circular {
    justify-content: center;
    border: 2px solid $gray--bg;
    border-radius: 30px;
    background: $gray--bg;
    width: 30px;
    height: 30px;
    padding: 0;

    &:hover,
    &:focus {
      background: $gray--bg;
      outline: none;
    }
  }

  @media #{$mq--lg} {
    padding: 0;

    svg {
      margin-right: 0;
    }

    &.alert {
      background: $fuscia;
      border: 2px solid $fuscia;
    }

    &:hover,
    &:focus {
      background: $black;
      border: 2px solid $white;
    }
  }

  .fa-chevron-down {
    margin-left: auto;
    margin-right: 0;

    @media #{$mq--lg} {
      display: none;
      visibility: hidden;
    }
  }

  span.has-notifications {
    position: relative;

    &:after {
      content: "";
      position: absolute;
      top: -1px;
      left: -9px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: $fuscia;

      @media #{$mq--lg} {
        background: transparent;
      }
    }
  }

  &[menu-open] {
    .fa-chevron-down {
      transform: rotate(180deg);
    }
  }
}

.nhm-nav-button__text {
  @extend .nhm-nav-link;
  @extend .large-screen-hidden;
  text-align: left;
  width: auto;
  padding: 0 .5rem;
  background: transparent;

  @media #{$mq--lg} {
    display: none;
    visibility: hidden;
  }
}

.nhm-nav-button__img {
  display: block;
  width: 100%;
  height: 100%;
}

.nhm-navbar-user {
  list-style: none;
  padding-left: 1.5rem;
  margin: 0;
  z-index: 9;
  position: relative;
  padding: 0;

  .sign-up {
    margin-top: 1rem;
  }

  .login {
    margin-top: 1.5rem;
  }

  @media #{$mq--lg} {
    position: absolute;
    right: .75rem;
    @include flex();

    .sign-up {
      margin-top: 0rem;
    }

    .nhm-nav-item:last-of-type {
      margin-left: .5rem;
    }
  }

  @media print {
    display: none;
  }
}

.nhm-nav__mini-menu {
  list-style: none;
  padding: 0;
  color: $white;

  @media #{$mq--lg} {
    position: absolute;
    right: 0;
    top: 35px;
    border-radius: $card-radius;
    background: $white;
    min-width: 200px;
    color: $black;
    border: 1px solid $gray--tag;
    box-shadow: 0 2px 4px rgba(202, 206, 212, 100);

    &.main-nav-submenu {
      top: 102%;
      border-radius: 0 0 $card-radius $card-radius;
      border-top: none;
      left: 0;
      right: auto;
    }
  }

  &.large-screen-hidden {
    @media #{$mq--lg} {
      display: none;
      visibility: hidden;
    }
  }

  &.notifications {
    background: $white;
    margin: 0;
    padding: 0 .5rem;
    max-height: 50vh;
    overflow: scroll;

    @media #{$mq--lg} {
      min-width: 300px;
      border-radius: $card-radius;
      padding: 0;
    }
  }

  &.max-width-100 {
    max-width: 100%;
  }
}

.nhm-nav__mini-menu-item {
  @media #{$mq--lg} {
    &:first-of-type .nhm-nav__mini-menu-item__link {
      padding-top: 1rem;
      border-radius: $card-radius $card-radius 0 0;
    }

    &:last-of-type .nhm-nav__mini-menu-item__link {
      border-radius: 0 0 $card-radius $card-radius;
      padding-bottom: 1rem;
    }
  }

  &.notification {
    @include flex($wrap: nowrap, $align: stretch);

    &:not(:last-of-type) {
      border-bottom: 1px solid $gray--bg;
    }

    .notification__mark-as-read-btn {

      &:hover {
        background: $gray--bg;
      }
    }
  }
}

.notification-text {
  display: block;
  margin: 0;
  font-size: .8rem;
  line-height: 1.2rem;
  text-decoration: none;
  color: $black;
}

.notification__mark-as-read-btn {
  padding: .5rem 1rem;
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;

  &:focus,
  &:hover {
    background: $gray--bg;
  }
}

.nhm-nav__mini-menu-item__link {
  @extend .DMSans-SemiBold;
  display: block;
  width: 100%;
  text-decoration: none;
  padding: .5rem 1rem;
  color: $white;
  font-size: .9rem;

  &:hover,
  &:focus {
    color: $fuscia;
  }

  @media #{$mq--lg} {
    color: $black;
  }
}

.nhm-sidenav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nhm-sidenav-list__item {
  line-height: 33.5px;
}

.nhm-sidenav-list__item__link {
  color: $black;
  font-family: 'DMSans-SemiBold', sans-serif !important;
  text-decoration: none;
  font-size: .9rem;
  width: 100%;
  padding: .5rem 1.5rem .5rem .5rem;
  border: none;
  border-radius: 0 50px 50px 0;

  &:hover,
  &:focus {
    color: $fuscia;
  }

  &.active {
    background: $blue--hover;
    color: $blue;
  }
}

.nhm-sidenav-list--floating {
  position: absolute;
  top: 117px;
  left: -130px;
  width: 150px;
}