.skip-to-main {
  position: fixed;
  background: $red;
  color: $white;
  text-decoration: underline;
  z-index: $z-skip-to-main;
  padding: 1rem;
  left: calc(50% - 89.3px);
  top: -60px;
  border-radius: 0 0 $card-radius $card-radius;
  transition: all .3s ease;

  &.admin-nav {
    top: 0;
  }

  &:focus {
    top: 0px;
    outline: none;

    &.admin-nav {
      top: 50px;
    }
  }

  @media print {
    display: none;
  }
}