.nhm-tab-list {
  @extend .hide-scrollbar;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0 auto;

  @media #{$mq--md} {
    @include flex($justify: flex-start, $align: center, $wrap: wrap);
  }

  &.centered {
    justify-content: center;;
  }
}

.nhm-tab-list__item {
  text-align: center;
  color: $black;
}

.nhm-tab-trigger {
  @extend .nhm-btn--no-style;
  padding: 1rem;
  border-radius: 0;
  border-left: 1px solid transparent;
  text-align: left;
  width: 100%;

  &.active {
    border-left: 1px solid $black;
  }

  &:hover,
  &:focus {
    color: $blue;
    border-left: 1px solid $black;
  }
  &:focus {
    box-shadow: none;
  }

  @media #{$mq--md} {
    text-align: center;
    border-left: none;
    border-bottom: 1px solid transparent;
    &:hover,
    &:focus {
      border-left: none;
      border-bottom: 1px solid $black;
    }
    &.active {
      border-left: none;
      border-bottom: 1px solid $black;
    }
  }
}