.resume-wrapper {
  margin-bottom: 3rem;
  @include flex($direction: column-reverse, $align: stretch);
  @media #{$mq--md} {
    @include flex($wrap: nowrap, $align: flex-start);
  }
}

.resume-main {
  @media #{$mq--md} {
    margin-right: 3rem;
    flex: 1;
  }
}

.resume-aside {
  @media #{$mq--md} {
    width: 25%;
    margin-bottomm: 0;
  }
}

.resume-section__header {
  @media #{$mq--md} {
    @include flex($wrap: nowrap, $align: flex-end, $justify: space-between);
  }
}

.resume-section__skills-wrapper {
  ul {
    li {
      @extend .p;
    }
  }
}