.nhm-footer-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  @media print {
    display: none;
  }
}

.nhm-footer__inner-wrapper {
  border-top: 1px solid $black;
}

.nhm-footer-logo-wrapper {
  padding: 5rem 0;
  text-align: center;
}

.nhm-footer__logo {
  height: 27px;
  display: block;
  margin: 0 auto;
}

.nhm-footer__copyright-text {
  text-align: center;
  a { color: $black; text-decoration: none; }
}
