---
title: Nathan Haynes-Magyar
layout: default
---
<section class="bg-blue--light">
  <div class="nhm-wrapper">
    <div class="nhm-hero mobile-image-first py-5">
      <div class="nhm-hero__text fade-in-up">
        <h1 class="nhm-mega-font">Hi! I'm Nathan.</h1>
        <p class="p--lg">I'm a product designer and full stack developer with 8 years of experience transforming complex workflows into delightful, intuitive experiences for users.
        </p>
      </div>
      {% include nhm-wave.html %}
    </div>
  </div>
</section>
<section class="nhm-wrapper">
  <ul class="unstyled-list">
    {% assign ordered_projects = site.projects | where: 'published', true | sort:"order" %}
    {% for project in ordered_projects %}
    <li class="nhm-card-grid__item nhm-card--horizontal image-last--mobile fade-in-up">
      <a href="{{ project.url }}" class="nhm-card__image-wrapper project-card-hover">
        {% if project.cover_video %}
        <video src="{{ project.cover_video }}" class="d-block w-100 rounded--mega object-fit--contain" alt="{{ project.title }}" autoplay muted loop playsinline></video>
        {% else %}
        <img src="{{ project.cover_image }}" class="d-block w-100 rounded--mega object-fit--contain" alt="{{ project.title }}" />
        {% endif %}
      </a>
      <a href="{{ project.url }}" class="nhm-card__body">
        <p class="my-0 text--secondary">{{ project.supertitle }}</p>
        <h3 class="mt-0 project-title-text">{{ project.title }}</h3>
        <p class="text--secondary">{{ project.tagline }}</p>
        <p class="text--link no-underline my-0">View Project</p>
      </a>
    </li>
    {% endfor %}
  </ul>
</section>