---
title: Nathan Haynes-Magyar
layout: default
---
<section class="bg-gray--light">
  <div class="nhm-wrapper">
    <div class="nhm-hero mobile-image-first py-5">
      <div class="nhm-hero__text">
        <h1 class="nhm-mega-font">Hi! I'm Nathan.</h1>
        <p class="p--lg">I'm passionate about education and using my
          skills as a full stack developer, UX designer,
          and researcher to create beautiful, engaging
          experiences for learners.
        </p>
      </div>
      <img class="nhm-hero__image mb-2--700-and-below" src="/assets/images/nhm-wave.svg" alt="">
    </div>
  </div>
</section>
<section class="nhm-wrapper">
  <h2 class="h1 text--center my-5">My Work</h2>
  <ul class="unstyled-list">
    {% assign ordered_projects = site.projects | where: 'published', true | sort:"order" %}
    {% for project in ordered_projects %}
    <li class="nhm-card--horizontal responsive-margin-bottom">
      <a href="{{ project.url }}" class="nhm-card__image-wrapper">
        <img src="{{ project.thumbnail_image }}" class="nhm-card__image rounded" alt="{{ project.title }}" /></a>
      <div>
        <h3 class="mt-0"><a href="{{ project.url }}" class="text--black hover--blue no-underline">{{ project.title }}</a>
        </h3>
        <div class="d-flex justify-start align-center">
          <ul class="nhm-tag-list">
            {% for role in project.roles %}
            <li class="nhm-tag-list__item">{{ role }}</li>
            {% endfor %}
          </ul>
        </div>
        <p>{{ project.tagline }}</p>
      </div>
    </li>
    {% endfor %}
  </ul>
</section>