---
layout: default
---
<article class="nhm-wrapper pb-152px">
  <img src="{{ page.logo_image }}" alt="" class="w-100 rounded--mega d-block mt-1 mb-3" />
  <h1 class="sr-only">{{ page.name }}</h1>
  <p class="h2 text--center mw-700 mx-auto my-5">{{ page.tagline }}</p>
  <div class="nhm-card-grid three-columns">
    <div class="nhm-card-grid__item nhm-card">
      <span class="d-flex">
        <span class="nhm-icon-wrapper">
          <i class="fa fa-hat-wizard"></i>
        </span>
        <h2 class="mt-0 ml-1 h3">My Roles</h2>
      </span>
      <ul class="nhm-tag-list">
        {% for role in page.roles %}
        <li class="nhm-tag-list__item">{{ role }}</li>
        {% endfor %}
      </ul>
    </div>
    <div class="nhm-card-grid__item nhm-card">
      <span class="d-flex">
        <span class="nhm-icon-wrapper">
          <i class="fa-solid fa-wand-sparkles"></i>
        </span>
        <h2 class="mt-0 ml-1 h3">Tech Stack</h2>
      </span>
      <ul class="nhm-tag-list">
        {% for language in page.stack %}
        <li class="nhm-tag-list__item">{{ language }}</li>
        {% endfor %}
      </ul>
    </div>
    <div class="nhm-card-grid__item nhm-card">
      <span class="d-flex">
        <span class="nhm-icon-wrapper">
          <i class="fa fa-hourglass-half"></i>
        </span>
        <h2 class="mt-0 ml-1 h3">Duration</h2>
      </span>
      <ul class="nhm-tag-list">
        <li class="nhm-tag-list__item">{{ page.duration }}</li>
      </ul>
    </div>
  </div>
    
  {{ content }}
    
  {% assign filtered_posts = site.posts | where: 'project', page.name %}
  {% if filtered_posts.size > 0 %}
  <h2>Posts</h2>
  <ul class="unstyled-list">
    {% for post in filtered_posts %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
  {% endif %}
</article>